$color__background-body: #fafafa;
$color__background-footer: #777777;
$color__background-header: #ffffff;

$color__background-pre: #eeeeee;
$color__background-ins: #fff9c0;

$color__text-main: #666666;
$color__text-input: #888888;

$color__header-text: #3d3d3d;
$color__header-link: #3d3d3d;
$color__header-link-hover: #14bfcc;

$color__footer-text: #aaaaaa;
$color__footer-link: #ffffff;
$color__footer-link-hover: #14bfcc;
$color__footer-headings: #ffffff;
    
$color__link: #3d3d3d;
$color__link-hover: #14bfcc;
$color__headings: #3d3d3d;

$color__background-button: #14bfcc;
$color__background-button-hover: #0091ac;
$color__text-button: #ffffff;
$color__text-button-hover: #ffffff;
$color__border-button: #14bfcc;
$color__border-button-hover: #0091ac;

// Other Colors
$color__blue: #2c9ab7;
$color__green: #54cba0;
$color__gray: rgba(0,0,0,.1);
$color__light-gray: rgba(0,0,0,.02);
$color__red: #e85c41;
$color__orange: #e67e22;